extends layout

block content
  // Main content
  .content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary.card-outline
            .card-header
              h5.m-0 Account
                button.btn.btn-sm.btn-primary(style='float: right;' onclick="addAccount(null)")
                  .fa.fa-plus
                  |   Add User
                button.btn.btn-sm.btn-primary(style='float: right;' onclick="addAccount(null)")
                  .fa.fa-plus
                  |   Add Account
            .card-body
              table#accountTable.table.table-bordered.table-striped
      

block append scripts
  script(src='dist/js/pages/account.js')

  script.
    $(function () {
      getAccountData()
    });
