extends layout

block content
  // Main content
  .content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary.card-outline
            .card-header
              h5.m-0 Company
                button.btn.btn-sm.btn-primary(style='float: right;' onclick="addCompany(null)")
                  .fa.fa-plus
                  |   Add Company
            .card-body
              table#companyTable.table.table-bordered.table-striped
      

block append scripts
  script(src='dist/js/pages/company.js')

  script.
    $(function () {
      getCompanyData()
    });
