doctype html
//
  This is a starter template page. Use this page to start your new project from
  scratch. This page gets rid of all links and provides the needed markup only.
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    block styles
      title #{title}
      // Font Awesome Icons
      link(rel='stylesheet', href='plugins/fontawesome-free/css/all.min.css')
      link(rel='stylesheet', href='https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css')
      link(rel='stylesheet', href='plugins/datatables-bs4/css/dataTables.bootstrap4.css')
      link(rel='stylesheet', href='plugins/sweetalert2-theme-bootstrap-4/bootstrap-4.min.css')
      // Theme style
      link(rel='stylesheet', href='dist/css/adminlte.min.css')
      // Google Font: Source Sans Pro
      link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700', rel='stylesheet')
  body.hold-transition.sidebar-mini
    .wrapper
      block topnav
        nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
          // Left navbar links
          ul.navbar-nav
            li.nav-item
              a.nav-link(data-widget='pushmenu', href='#')
                i.fas.fa-bars
            li.nav-item.d-none.d-sm-inline-block
              a.nav-link(href='index3.html') Home
            li.nav-item.d-none.d-sm-inline-block
              a.nav-link(href='#') Contact
          // SEARCH FORM
          form.form-inline.ml-3
            .input-group.input-group-sm
              input.form-control.form-control-navbar(type='search', placeholder='Search', aria-label='Search')
              .input-group-append
                button.btn.btn-navbar(type='submit')
                  i.fas.fa-search
          // Right navbar links
          ul.navbar-nav.ml-auto
            // Messages Dropdown Menu
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown', href='#')
                i.far.fa-comments
                span.badge.badge-danger.navbar-badge 3
              .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
                a.dropdown-item(href='#')
                  // Message Start
                  .media
                    img.img-size-50.mr-3.img-circle(src='dist/img/user1-128x128.jpg', alt='User Avatar')
                    .media-body
                      h3.dropdown-item-title
                        | Brad Diesel
                        span.float-right.text-sm.text-danger
                          i.fas.fa-star
                      p.text-sm Call me whenever you can...
                      p.text-sm.text-muted
                        i.far.fa-clock.mr-1
                        |  4 Hours Ago
                  // Message End
                .dropdown-divider
                a.dropdown-item(href='#')
                  // Message Start
                  .media
                    img.img-size-50.img-circle.mr-3(src='dist/img/user8-128x128.jpg', alt='User Avatar')
                    .media-body
                      h3.dropdown-item-title
                        | John Pierce
                        span.float-right.text-sm.text-muted
                          i.fas.fa-star
                      p.text-sm I got your message bro
                      p.text-sm.text-muted
                        i.far.fa-clock.mr-1
                        |  4 Hours Ago
                  // Message End
                .dropdown-divider
                a.dropdown-item(href='#')
                  // Message Start
                  .media
                    img.img-size-50.img-circle.mr-3(src='dist/img/user3-128x128.jpg', alt='User Avatar')
                    .media-body
                      h3.dropdown-item-title
                        | Nora Silvester
                        span.float-right.text-sm.text-warning
                          i.fas.fa-star
                      p.text-sm The subject goes here
                      p.text-sm.text-muted
                        i.far.fa-clock.mr-1
                        |  4 Hours Ago
                  // Message End
                .dropdown-divider
                a.dropdown-item.dropdown-footer(href='#') See All Messages
            // Notifications Dropdown Menu
            li.nav-item.dropdown
              a.nav-link(data-toggle='dropdown', href='#')
                i.far.fa-bell
                span.badge.badge-warning.navbar-badge 15
              .dropdown-menu.dropdown-menu-lg.dropdown-menu-right
                span.dropdown-header 15 Notifications
                .dropdown-divider
                a.dropdown-item(href='#')
                  i.fas.fa-envelope.mr-2
                  |  4 new messages
                  span.float-right.text-muted.text-sm 3 mins
                .dropdown-divider
                a.dropdown-item(href='#')
                  i.fas.fa-users.mr-2
                  |  8 friend requests
                  span.float-right.text-muted.text-sm 12 hours
                .dropdown-divider
                a.dropdown-item(href='#')
                  i.fas.fa-file.mr-2
                  |  3 new reports
                  span.float-right.text-muted.text-sm 2 days
                .dropdown-divider
                a.dropdown-item.dropdown-footer(href='#') See All Notifications
            li.nav-item
              a.nav-link(data-widget='control-sidebar', data-slide='true', href='#')
                i.fas.fa-th-large
      
      // Main Sidebar Container
      block sidebar
        aside.main-sidebar.sidebar-dark-primary.elevation-4
          // Brand Logo
          a.brand-link(href='index3.html')
            img.brand-image.img-circle.elevation-3(src='dist/img/AdminLTELogo.png', alt='AdminLTE Logo', style='opacity: .8')
            span.brand-text.font-weight-light LocationTracker
          // Sidebar
          .sidebar
            // Sidebar Menu
            nav.mt-2
              ul.nav.nav-pills.nav-sidebar.flex-column(data-widget='treeview', role='menu', data-accordion='false')
                //
                  Add icons to the links using the .nav-icon class
                  with font-awesome or any other icon font library
                
                li.nav-item
                  a.nav-link(href='/device')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Device
                      
                      
                li.nav-item
                  a.nav-link(href='/account')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Account

                li.nav-item
                  a.nav-link(href='/company')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Company 

                li.nav-item
                  a.nav-link(href='/customer')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Customer 

                li.nav-item
                  a.nav-link(href='/customer_user')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Customer User     

                li.nav-item
                  a.nav-link(href='/location')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Location   

                li.nav-item
                  a.nav-link(href='/campaign')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Campaign  

                li.nav-item
                  a.nav-link(href='/reps')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Representative 

                li.nav-item
                  a.nav-link(href='/asset_details')
                    i.nav-icon.fas.fa-layer-group
                    p
                      | Asset Deails 

            // /.sidebar-menu
            // /.sidebar
      
      // Content Wrapper. Contains page content
      .content-wrapper
        // Content Header (Page header)
        block contentheader
          .content-header
            .container-fluid
              .row.mb-2
                .col-sm-6
                  h1.m-0.text-dark #{title} Page
                // /.col
                .col-sm-6
                  ol.breadcrumb.float-sm-right
                    li.breadcrumb-item
                      a(href='#') Home
                    li.breadcrumb-item.active Starter Page
                // /.col
                // /.row
                // /.container-fluid
                // /.content-header
        block content

        // Control Sidebar
        block controlsidebar
          aside.control-sidebar.control-sidebar-dark
            // Control sidebar content goes here
            .p-3
              h5 Title
              p Sidebar content
          // /.control-sidebar

        // Main Footer
      block footer
        footer.main-footer
          // To the right
          .float-right.d-none.d-sm-inline
            | Anything you want
          // Default to the left
          strong
            | Copyright © 2014-2019 
            a(href='https://adminlte.io') AdminLTE.io
            | .
          |  All rights reserved.
    #device-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#processor-modal-title Add Device
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
            label IMEI Number
            .input-group.mb-3
              input.form-control(type='hidden', id='device_id')
              input.form-control(type='text', placeholder='IMEI Number', id='device_imei_no' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-cog
            label Sim Number   
            .input-group.mb-3
              input.form-control(type='text', placeholder='Sim Number', id='device_sim_no', required)
              .input-group-append
                .input-group-text
                  span.fas.fa-microchip   
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_device_button") Save changes

    #account-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#account-modal-title Add User
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true')   
          .modal-body
            form
            label First Name
            .input-group.mb-3
              input.form-control(type='hidden', id='account_id')
              input.form-control(type='text', placeholder='First Name', id='account_first_name'  required)
              .input-group-append
                .input-group-text
                  span.fas.fa-hdd
            label Last Name     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Last Name', id='account_last_name', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Role
            .input-group.mb-3
              select.custom-select#role_selection_box
               option(value="Account Executive") Account Executive
               option(value="Account Manager") Account Manager
                option(value="Account User") Account User
              .input-group-append
                .input-group-text
                  span.fas.fa-hdd
            label Contact Number     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Contact Number', id='account_contact_no', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label Contact Person       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Contact Person', id='account_contact_person', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label Street      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Street', id='account_street', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label City      
            .input-group.mb-3
              input.form-control(type='text', placeholder='City', id='account_city', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label State     
            .input-group.mb-3
              input.form-control(type='text', placeholder='State', id='account_state', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Zip       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Zip', id='account_zip', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd 
            label Email
            .input-group.mb-3
              input.form-control(type='email', placeholder='Email', id='account_email', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label Password
            .input-group.mb-3
              input.form-control(type='text', placeholder='Password', id='account_password', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd                                           
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_account_button") Save changes

    #company-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#company-modal-title Add Company
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') 
          .modal-body
            form
            label Company Name
            .input-group.mb-3
              input.form-control(type='hidden', id='company_id')
              input.form-control(type='text', placeholder='Company Name', id='company_name' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop-medical
            label Street      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Street', id='company_street', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label City      
            .input-group.mb-3
              input.form-control(type='text', placeholder='City', id='company_city', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label State     
            .input-group.mb-3
              input.form-control(type='text', placeholder='State', id='company_state', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Zip       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Zip', id='company_zip', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_company_button") Save changes

    #customer-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#customer-modal-title Add Customer
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
            label Customer Name
            .input-group.mb-3
              input.form-control(type='hidden', id='customer_id')
              input.form-control(type='text', placeholder='Customer Name', id='customer_name' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop-medical
            label Street      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Street', id='customer_street', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label City      
            .input-group.mb-3
              input.form-control(type='text', placeholder='City', id='customer_city', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label State     
            .input-group.mb-3
              input.form-control(type='text', placeholder='State', id='customer_state', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Zip       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Zip', id='customer_zip', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd 
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_customer_button") Save changes  

    #customer_user-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#customer_user-modal-title Customer User
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') 
          .modal-body
            form
            label First Name
            .input-group.mb-3
              input.form-control(type='hidden', id='customer_user_id')
              input.form-control(type='text', placeholder='First Name', id='customer_user_first_name'  required)
              .input-group-append
                .input-group-text
                  span.fas.fa-hdd
            label Last Name     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Last Name', id='customer_user_last_name', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Role
            .input-group.mb-3
              select.custom-select#customer_role_selection_box
               option(value="Customer Executive") Customer Executive
               option(value="Customer Manager") Customer Manager
                option(value="Customer User") Customer User
              .input-group-append
                .input-group-text
                  span.fas.fa-hdd
            label Contact Number     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Contact Number', id='customer_user_contact_no', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label Street      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Street', id='customer_user_street', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label City      
            .input-group.mb-3
              input.form-control(type='text', placeholder='City', id='customer_user_city', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label State     
            .input-group.mb-3
              input.form-control(type='text', placeholder='State', id='customer_user_state', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Zip       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Zip', id='customer_user_zip', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd 
            label Email
            .input-group.mb-3
              input.form-control(type='email', placeholder='Email', id='customer_user_email', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label Password
            .input-group.mb-3
              input.form-control(type='text', placeholder='Password', id='customer_user_password', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd 
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_customer_user_button") Save changes  

    #location-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#location-modal-title Add Location
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
            label Type
            .input-group.mb-3
             input.form-control(type='hidden', id='location_id')
             select.custom-select#location_type_selection_box
               option(value="factory") Factory
               option(value="warehouse") Warehouse
               option(value="distribution_center") Distribution Center
               option(value="retail_store") Retail store
                .input-group-append
            label Name    
            .input-group.mb-3
              input.form-control(type='text', placeholder='Name', id='location_name', required)
              .input-group-append
                .input-group-text
                  span.fas.fa-memory
            label Street      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Street', id='location_street', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label City      
            .input-group.mb-3
              input.form-control(type='text', placeholder='City', id='location_city', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd
            label State     
            .input-group.mb-3
              input.form-control(type='text', placeholder='State', id='location_state', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Zip       
            .input-group.mb-3
              input.form-control(type='text', placeholder='Zip', id='location_zip', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd  
            .row
              .col-6        
                .input-group.mb-3
                  .custom-control.custom-checkbox
                    input#geofence_box.custom-control-input(type='checkbox', value='geofence_enable')
                    label.custom-control-label(for='geofence_box') Geofence Enable 
               
              .col-6
                .input-group.mb-3
                  .custom-control.custom-checkbox
                    input#final_dest_box.custom-control-input(type='checkbox', value='final_dest')
                    label.custom-control-label(for='final_dest_box') Final Destination           
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_location_button") Save changes

    #campaign-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#campaign-modal-title Add Campaign
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') 
          .modal-body
            form
            label Campaign Name
             .input-group.mb-3
               input.form-control(type='hidden', id='_id')
               input.form-control(type='text', placeholder='Campaign Name', id='campaign_name' required)

            .row
              .col-6        
                label Total Assets
                .input-group.mb-3
                  input.form-control(type='email', placeholder='Total Assets', id='campaign_total_assets', required)
              
              .col-6  
                label Total Devices    
                .input-group.mb-3
                  input.form-control(type='text', placeholder='Total Devices', id='campaign_total_devices', required)

            .row
              .col-6       
                label Start Date    
                .input-group.mb-3
                  input.selector.form-control(type='text', placeholder='Start Date', id='campaign_start_date', required)
              .col-6     
                label End Date    
                .input-group.mb-3
                  input.selector.form-control(type='text', placeholder='End Date', id='campaign_end_date ', required)
              
            label Subscription
            .input-group.mb-3
              select.custom-select#campaign_subscription_selection_box
                option(value="12_months") 12 Months
                option(value="24_months") 24 Months
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_campaign_button") Save changes         

    #reps-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#reps-modal-title Add Representative
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
            label Name
            .input-group.mb-3
              input.form-control(type='hidden', id='reps_id')
              input.form-control(type='text', placeholder='Name', id='reps_name' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-store 
            label Email
            .input-group.mb-3
              input.form-control(type='email', placeholder='Email', id='reps_email', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
            label Phone Number     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Phone Number', id='reps_phone_no', required)
              .input-group-append
                .input-group-text
                  span.far.fa-hdd      
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_reps_button") Save changes

    #asset_details-modal.modal.fade
      .modal-dialog
        .modal-content
          .modal-header
            h4.modal-title#asset_details-modal-title Add Asset Details
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span(aria-hidden='true') ×
          .modal-body
            form
            label Total Assets
            .input-group.mb-3
              input.form-control(type='hidden', id='asset_details_id')
              input.form-control(type='text', placeholder='Total Assets', id='total_assets' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop
            label Name      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Name', id='name' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop
            label Image      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Image', id='image' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop 
            label Height      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Height', id='height' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop 
            label Width      
            .input-group.mb-3
              input.form-control(type='text', placeholder='Width', id='width' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop 
            label Manufacturing Date     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Manufacturing Date', id='mfg_date' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop
            label Shipping Date     
            .input-group.mb-3
              input.form-control(type='text', placeholder='shipping Date', id='est_shipping_date' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop  
            label Channel     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Channel', id='channel' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop 
            label Program     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Program', id='program' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop 
            label Promotion     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Promotion', id='promotion' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop
            label Merchandise Type     
            .input-group.mb-3
              input.form-control(type='text', placeholder='Merchandise Type', id='merchandise_type' required)
              .input-group-append
                .input-group-text
                  span.fas.fa-laptop           
                                               
          .modal-footer.justify-content-between
            button.btn.btn-default(type='button', data-dismiss='modal') Close
            button.btn.btn-primary(type='button', id="add_assets_details_button") Save changes   

                           

      block scripts
        // REQUIRED SCRIPTS
        // jQuery
        script(src='plugins/jquery/jquery.min.js')
        script(src='plugins/jquery-ui/jquery-ui.js')
        // Bootstrap 4
        script(src='plugins/bootstrap/js/bootstrap.bundle.min.js')
        script(src='plugins/datatables/jquery.dataTables.js')
        script(src='plugins/datatables-bs4/js/dataTables.bootstrap4.js')
        script(src='plugins/sweetalert2/sweetalert2.min.js')

        // AdminLTE App
        script(src='dist/js/adminlte.min.js')
        script(src='dist/js/common.js')
