extends layout

block content
  // Main content
  .content
    .container-fluid
      .row
        .col-md-12
          .card.card-primary.card-outline
            .card-header
              h5.m-0 Location
                button.btn.btn-sm.btn-primary(style='float: right;' onclick="addLocation(null)")
                  .fa.fa-plus
                  |   Add Location
            .card-body
              table#locationTable.table.table-bordered.table-striped
      

block append scripts
  script(src='dist/js/pages/location.js')

  script.
    $(function () {
      getLocationData()
    });
